<div class="movie">
  <p>
    <%= moviedetails.title %>
  </p>

  <p>
    <% if moviedetails.category.present?%>
      <%= moviedetails.category.name%>
    <% else %>
      Category Unset
    <% end %>
  </p>

  <% if moviedetails.picture.present? %>
    <p>
      <%= image_tag(moviedetails.picture) %>
    </p>
  <% end %>

  <p><%= moviedetails.content%></p>

</div>
