<% if @movies_in_cart.any?  %>
  <h3>Cart</h3>
  <%= link_to 'Remove All', remove_all_movies_path, method: :post %>
  <div class="card-group">
    <%= render partial: 'movie', collection: @movies_in_cart %>

  </div>
<% end %>

<h2>All Movies</h2>

<div class="card-deck-wrapper">
  <div class="card-deck">
    <%= render partial: 'movie', collection: @movies %>
  </div>
</div>
