<br>
<div class="card">
  <div class="card-block">
    <h4 class="card-title">About Us</h4>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <p class="card-text"><%= @about.content %><p>
    <p class="card-text"><%= @about.people %></p>
  </div>
  <div class="card-block">
    <%= link_to 'Go Back', index_path, class: 'card-link' %>
  </div>
</div>
