<br>
<div class="card text-xs-center">
  <div class="card-block">
    <h4 class="card-title">Login</h4>
  </div>
</div>
<% if @error == 1 %>
  <div class="alert alert-danger alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Error!</strong> Please enter a value into User Name and Password.
  </div>
<% end %>
<% if @error == 2 %>
<div class="alert alert-danger alert-dismissible fade in" role="alert">
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
  <strong>Error!</strong> Incorrect User Name and Password Combination.
</div>
<% end %>
<div class="card">
  <div class="card-block">
    <div class="card-group">
      <div class="card ">
        <div class="card-block">
          <%= form_tag auth_path, class:'login' do %>
            <div class="form-group row">
                <%= text_field :user_name, nil, class: 'form-control', placeholder: 'User Name' %>
            </div>
            <div class="form-group row ">
                <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
            </div>
            <%= submit_tag "Login", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
