<br>
<% session[:login] %>
<% if session[:login].present? %>
  <h1>Here</h1>
<% end %>
<%
# User.create(:fname => "User",
#             :lname => "Smith",
#             :address => "address",
#             :pcode => "pcode",
#             :email => "email",
#             :username => "User",
#             :tpassword => "Password")
# encrypted = User.where(username: "User").first.password
# decrypt = User.decrypt_password(encrypted, iv: 'xGAqD9zfbQ2kjBR1', key: 'tak3453449000gntksuht3464hygbijskj')
%>


<div class="card text-xs-center">
  <div class="card-block">
    <h4 class="card-title">Login</h4>
  </div>
</div>
<div class="card">
  <div class="card-block">
    <div class="card-group">
      <div class="card ">
        <div class="card-block">
          <%= form_tag auth_path, class:'login' do %>
            <div class="form-group row">
                <%= text_field :user_name, nil, class: 'form-control', placeholder: 'User Name' %>
            </div>
            <div class="form-group row ">
                <%= password_field_tag :password, nil, class: 'form-control', placeholder: 'Password' %>
            </div>
            <%= submit_tag "Login", class: 'btn btn-primary' %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
