@import "bootstrap";
/*--------------------APPLICATION.HTML.ERB--BEGIN---------------*/
body
{
  background-color: #585858;
}
/*--------------------APPLICATION.HTML.ERB--END-----------------*/

/*--------------------------INDEX--BEGIN------------------------*/
div.index-cart
{
  color: #ccc;
  background-color: #373a3c;
  margin-bottom: 0px;
  padding-left: 13px;
}

img.img-index
{
  height: 375px;
  width: 250px;
  object-fit: cover;
}

img.img-cart
{
  height: 38px;
  width: auto;
  padding-left: 20px;
}

div.cart
{
  color: black;
  background-color: white;
  position: relative;
  right: 30px;
  display: inline-block;
  bottom:10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  text-align: center;
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}

form.form-inline
{
  display: inline;
}

select.index-nav-drop
{
  color: #ccc;
  background-image: none;
  background-color: transparent;
  border-color: #ccc;
  display: inline-block;
  font-weight: normal;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid;
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 0.25rem;
}

select.index-nav-drop:hover
{
  background-color: #ccc;
  border-color: #ccc;
  color: white;
}

option
{
  color: black;
}

strong.sale
{
  color: red;
}

img.img-star
{
  position: relative;
  bottom: 2.5px;
}

span.sale
{
  color: #DBA901;
  float: right;
}

/*--------------------------INDEX--END--------------------------*/


/*--------------------------SHOW--BEGIN-------------------------*/
img.img-details
{
  height: 500px;
  width: auto;
}
/*--------------------------SHOW--END---------------------------*/

/*--------------------------CART--BEGIN-------------------------*/
label.border
{
  vertical-align: middle;
  margin-bottom: 0px;
  line-height: 1.25;
  padding: 0.5rem 0.75rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

input.border
{
  vertical-align: middle;
  width: 42px;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: black;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

select.border
{
  padding-top: 0.25rem;
  padding-bottom: 0.50rem;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}
/*--------------------------CART--END---------------------------*/

.error,.payment-errors
{
    display: inline;
    position: absolute;
    width: 100%;
    margin-bottom: 0;
    padding-left: 40px;
    bottom: 6px;
    -webkit-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    -o-animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    animation: notifanim 0.4s cubic-bezier(0.55, 0, 0.1, 1) forwards;
    font-weight: 300;
    font-size: 1rem;
    color: #FF0000;

}

.form-control
{
  display: inline;;
}
